# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

broker/.classpath
broker/.project
broker/.settings/org.eclipse.jdt.core.prefs
broker/target/classes/.gitignore
broker/target/test-classes/.gitignore

common/.classpath
common/.project
common/.settings/org.eclipse.jdt.core.prefs
common/target/classes/.gitignore
common/target/test-classes/.gitignore

core/.classpath
core/.project
core/.settings/org.eclipse.jdt.core.prefs
core/target/classes/.gitignore
core/target/test-classes/.gitignore

dal/.classpath
dal/.project
dal/.settings/org.eclipse.jdt.core.prefs
dal/target/classes/.gitignore
dal/target/test-classes/.gitignore

facade/.classpath
facade/.project
facade/.settings/org.eclipse.jdt.core.prefs
facade/target/classes/.gitignore
facade/target/test-classes/.gitignore

service/.classpath
service/.project
service/.settings/org.eclipse.jdt.core.prefs
service/target/classes/.gitignore
service/target/test-classes/.gitignore

web/.classpath
web/.project
web/.settings/org.eclipse.jdt.core.prefs
web/target/classes/.gitignore
web/target/test-classes/.gitignore

target/mvn-eclipse-cache.properties

*.class
target/
*.iml
.idea/
target/
logs/
.classpath
.project
.settings/
.amateras
/target*
*.log*
*.jar
*.war
*.ear
out/
src/META-INF/
src/io/loli/browserfx/jxbrowser/
browserfx.zip